<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>genRental</title>
    <style>
        .carmanagebox {
            /* width: 1000px; */
            width: auto;
        }

        #cars {
            background-color: #1A2226;
            border: none;
            border-bottom: 2px solid #0DB8DE;
            border-top: 0px;
            border-radius: 0px;
            font-weight: bold;
            outline: 0;
            padding-left: 0px;
            margin-bottom: 20px;
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            border-radius: 24px;
            transition: 0.25s;
            outline: none;
            color: white;
            text-transform: inherit;
        }

        .carOptions {
            color: #021730;
        }

        .carmanageformbox {
            margin-top: 50px;
            height: auto;
            background: rgb(11, 110, 133);
            text-align: center;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            width: auto;
            /* width: 1000px; */
            padding: 50px;
            /* padding-bottom: 100px; */
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--stylesheet link for bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--stylesheet link for bootstrap-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <!--stylesheet link for common elements-->
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--navigation bar-->
    <a class=" navbar-brand" href="#"></a>
    <img src="https://i.ibb.co/YZh1fvQ/sN89ncS.png" alt="logo" style="width:50px;height:50px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="customerNavBar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rent') }}">Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('edituser') }}">Edit User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('carmanage') }}">Car Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('policy') }}">Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<body onload="openAddForm()">
    <div class="btn-group" style="display: block; text-align: center;" id="navbarButtons">
        <!--div for buttons related to car manage functions-->
        <button class="open-button" onclick="openAddForm()">Add Car</button>
        <!--button for run javascript of create add car form into the web-->
        <button class="open-button" onclick="openEditForm()">Edit Car</button>
        <!--button for run javascript of create
        edit car form into the web-->
        <button class="open-button" onclick="openDeleteForm()">Delete Car</button>
        <!--button for run javascript of create
        delete car form into the web-->
    </div>

    <div class="container" style="text-align: center; height:727.667px"></div>

    <script>
        function openAddForm() {        //script for create add car form
            const form = document.getElementsByClassName('container')[0];   //get the 'container' first element
            removeChild(form);                                              //clean the element

            const div = document.createElement("div");     //create element
            div.setAttribute("style", "text-align: center;")
            div.innerHTML = `
            <div class="col-lg-3 col-md-2"></div>
            <div class="carmanageformbox">
            <div class="col-lg-12 login-title"> Add Car</div>
            <div class="col-lg-12 login-form">
            <form method="post" action="{{url_for('carmanage') }}">
                <div class="form-group">
                    <label for="carLicense" class="form-control-label">Car License</label>
                    <input type="text" class="form-control" placeholder="Enter Car License" name="license" required></input>
                </div>
                <div class="form-group">
                    <label for="carModel" class="form-control-label">Car Model</label>
                    <input type="text" class="form-control" placeholder="Enter Car Model" name="model" required></input>
                </div>
                <div class="form-group">
                    <label for="carColor" class="form-control-label">Car Color</label>
                    <input type="text" class="form-control" placeholder="Enter Car Color" name="color" required></input>
                </div>
                <div class="form-group">
                    <label for="carMake" class="form-control-label">Car Make</label>
                    <input type="text" class="form-control" placeholder="Enter Car Make" name="make" required></input>
                </div>
                <div class="form-group">
                    <label for="carModel" class="form-control-label">Car Location</label>
                    <input type="radio" id="Melbourne" name="location" value="Melbourne" required>Melbourne</input>
                    <input style="margin-left:30px" type="radio" id="Sydney" name="location" value="Sydney" required>Sydney</input>
                </div>
                <div class="form-group">
                    <label for="carRating" class="form-control-label">Car Rating</label>
                    <input type="text" class="form-control" placeholder="Enter Car Rating" name="rating" required></input>
                </div>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-outline-primary">Add a car</button>
                </div>
                </form>
            </div>
        </div>
        </div>
            `;

            document.getElementsByClassName('container')[0].appendChild(div);
        }

        function removeChild(parent) {              //delete the element from parent element
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }

        function openEditForm() {        //script for create add car form
            const form = document.getElementsByClassName('container')[0];   //get the 'container' first element
            removeChild(form);                                              //clean the element

            const div = document.createElement("div");     //create element
            div.setAttribute("style", "text-align: center;")
            div.innerHTML = `
            <div class="col-lg-3 col-md-2"></div>
            <div class="carmanageformbox">
                <div class="col-lg-12 login-title">Edit Car</div>
                <div class="col-lg-12 login-form">
                    <form method="post" action="{{url_for('carmanage') }}">
                        <div class="select">
                            <select name="changeSelection" id="cars">
                                <option class="carOptions" value="license">License</option>
                                <option class="carOptions" value="model">Model</option>
                                <option class="carOptions" value="color">Color</option>
                                <option class="carOptions" value="make">Make</option>
                                <option class="carOptions" value="longlat">Longlat</option>
                                <option class="carOptions" value="location">Location</option>
                                <option class="carOptions" value="rating">Rating</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" style="visibility:hidden">Blank</label>
                            <input type="text" class="form-control" placeholder="Enter Car License" name="license" required></input>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter new Value" name="newValue" required></input>
                        </div>
                        <div style="text-align:center">
                            <button type="submit" name="updatecar" class="btn btn-outline-primary">Update the car</button>
                        </div>
                    </form>
                </div>
            <div class="col-lg-1 col-md-4 table-box" style="visibility:hidden;"></div>
            <div class="table-form" style="overflow-x:auto;"></div>
            <table id="carTable">
                <TR>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">License</TH>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Make</TH>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Model</TH>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Colour</TH>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Rating</TH>
                    <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Location</TH>
                </TR>
                {% for row in car %}
                <TR>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.license}}</TD>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.make}}</TD>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.model}}</TD>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.color}}</TD>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.rating}}</TD>
                    <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.location}}</TD>
                </TR>
                {% endfor %}
                </table>
            </div>
            `;
            document.getElementsByClassName('container')[0].appendChild(div);
        }

        function openDeleteForm() {        //script for create add car form
            const form = document.getElementsByClassName('container')[0];   //get the 'container' first element
            removeChild(form);                                              //clean the element

            const div = document.createElement("div");     //create element
            div.setAttribute("style", "text-align: center;")
            div.innerHTML = `
            <div class="col-lg-3 col-md-2"></div>
            <div class="carmanageformbox">
                <div class="col-lg-12 login-title">Delete Car</div>
                <div class="col-lg-1 col-md-4 table-box" style="visibility:hidden;"></div>
                <div class="table-form" style="overflow-x:auto;"></div>
                    <table id="carTable">
                        <TR>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">License</TH>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Make</TH>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Model</TH>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Colour</TH>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Rating</TH>
                            <TH style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">Location</TH>
                        </TR>
                        {% for row in car %}
                        <TR>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.license}}</TD>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.make}}</TD>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.model}}</TD>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.color}}</TD>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.rating}}</TD>
                            <TD style="background-color: rgba(0, 0, 0, 0.5); color: #FFFFFF">{{row.location}}</TD>
                        </TR>
                        {% endfor %}
                    </table>
                <div class="col-lg-12 login-form">
                    <form method="post" action="{{url_for('carmanage') }}">
                        <div class="form-group">
                            <label class="form-control-label" style="visibility:hidden">Blank</label>
                            <input type="text" class="form-control" placeholder="Enter Car License" name="license" required></input>
                            <button type="submit" name="delete" class="btn btn-outline-primary">Delete the car</button>
                        </div>
                        <input name="delete" value="delete" style="visibility:hidden"
                    </form>
                </div>
            `;
            document.getElementsByClassName('container')[0].appendChild(div);
        }

    </script>
</body>

</html>