<!DOCTYPE html>
<html>
<head>
<title>Policy</title>
<link id="testcss" type="text/css" rel="stylesheet" href="static\css\style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Privacy Policy
                </div>

                <body>
                    <div align = "left">
                    <textarea placeholder="noticeboard" cols="125" rows="40">
                        Privacy Policy 
                        Last updated: 07/05/2021
    
                        This Privacy Policy describes Our policies and procedures on the collection, 
                        use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
    
                        We use Your Personal data to provide and improve the Service. By using the Service, 
                        You agree to the collection and use of information in accordance with this Privacy Policy.
    
                        Personal Data 
    
                        While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. 
                        Personally identifiable information may include, but is not limited to:
                            Email address 
                            First name and last name
                            Phone number 
                            License number 
    
                        Information We Collect from Other Sources
                        We obtain information from third-party sources. 
                        For example, we may collect information about you from social networks, 
                        accounting services providers and data analytics providers. 
                        Additionally, if you create or log into your Medium account through a third-party platform (such as Apple, Facebook, Google, or Twitter), 
                        we will have access to certain information from that platform, such as your name, 
                        lists of friends or followers, birthday, and profile picture, 
                        in accordance with the authorization procedures determined by such platform.
                        Information We Derive
                        We may derive information or draw inferences about you based on the information we collect. 
                        For example, we may make inferences about your location based on your IP address or infer reading preferences based on your reading history.
                        USE OF INFORMATION
                        We use the information we collect to provide, maintain, and improve our Services, which include
                        - Create and maintain your genrental account
                        - Comply with out legal and financial obligations 
                        - To contact you via email, telephone calls, or SMS
                        - To manage your requests: To attend and manage your requests to us
                        SHARING OF INFORMATION
                        We share personal information in the following circumstances or as otherwise described in this policy:
                        Law enforcement
                        Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities 
                        (e.g. a court or a government agency).
                        Other legal requirements
                        The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:
                            Comply with a legal obligation
                            Protect and defend the rights or property of the Company
                            Prevent or investigate possible wrongdoing in connection with the Service
                            Protect the personal safety of Users of the Service or the public
                            Protect against legal liability
    
    
                        Security of Your Personal Data 
                        The security of your personal data is important to us, but remember that no method of transmission over the Internet, 
                        or method of electronic storage is 100% secure. While we strive to use commercially acceptable means 
                        Changes to this Privacy Policy 
                        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page 
                        We will let you know via email on our services prior to the change becoming effective.
                        Contact Us
                        If you have any questions about this Privacy Policy, You can contact us: genrentaldb@gmail.com
                        
                    </textarea>

                </body>
                
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>






</body>
</html>